PAYLOAD_DRY_RUN=1
ALLOW_GPU=0
ALLOW_PAID_API=0
ALLOW_PUBLIC_POSTING=0
ALLOW_RECORDING=0
ALLOW_PRIVATE_UPLOAD=0
ALLOW_TRAINING=0
ALLOW_WALLET_ACTIONS=0
ALLOW_CRON_MUTATION=0
HF_DATASET_REPO=TheMindExpansionNetwork/jimsky-afterparty-logo-seed
